nav .active {
	background: rgb(255, 200, 18) !important;
	border-radius: 5px;
	opacity: 0.8;
}
.navbar-nav .nav-link {
	padding: 6px 20px !important;
}
.nav-pills {
	--bs-nav-pills-link-active-bg: rgb(255, 200, 18) !important;
	--bs-nav-pills-link-active-color: #282828 !important;
}

.mainCardTitle {
	font-size: 15px !important;
	text-transform: uppercase;
}

.custom-accordion-btn:hover {
	background-color: #f8f9fa !important;
	opacity: 1;
}

.custom-accordion-btn:focus {
	box-shadow: none !important; /* Убираем свечение при фокусе */
}

.header {
	background-color: #fff;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	position: fixed;
	top: 0;
	left: 260px;
	right: 0;
	z-index: 1000;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.content {
	margin-top: 70px;
	margin-left: 260px;
}
